
<h3>Update Employee</h3>
<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="">First Name</label>
        <input type="text" name="name" id="firstname" class="form-control" [(ngModel)]="employee.name">
        <label for="">last Name</label>

        <input type="text" name="lastame" id="lastname" class="form-control" [(ngModel)]="employee.lastname">
        <label for="">Email id</label>
        <input type="text" name="emailid" id="email" class="form-control" [(ngModel)]="employee.emailid">


    </div>
    <button type="submit" class="btn btn-success ">Submit</button>

</form>
