<h1 class="text-center " style="font-family:Georgia, 'Times New Roman', Times, serif;">{{mega}}</h1>


<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
           <a routerLink="/employees" routerLinkActive="active" class="nav-link">
            EMPLOYEE
           </a>

        </li>
        <li>
            <a routerLink="/emp-create" routerLinkActive="active" class="nav-link">CREATE EMPLOYEE  </a>
        </li>
        
    
    </ul>
</nav>
<div class="container">
    <router-outlet>

    </router-outlet>
</div>
